@import "tailwindcss";

@theme {
  --color-primary: #E60023;
  --color-primary-dark: #AD081B;
  --color-primary-light: #FF1A3C;
}

body {
  margin: 0;
  background-color: white;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities for 3D Flip Card */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}